.bodyNote {
  background-color: pink;
  border-radius: .3em;
  box-shadow: .5em .5em .5em .1em rgb(212, 172, 178);
  height: 12em;
  text-align: center;
  padding-bottom: .25em;
  position: relative;
}

.bodyNote:hover {
  box-shadow: .5em .5em .5em .1em rgb(122, 102, 106);
}

h4 {
  margin-left: 1em;
}

h6 {
  /* background-color: rgb(198, 131, 142); */
  color: rgb(198, 131, 142);
  position: absolute;
  top: 89%;
  left: 70%;
}

.foot {
  background-color: rgb(221, 149, 161);
  border-radius: .2em .2em 0em 0em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.7em;
}

.btnsContainer {
  display: flex;
  margin-right: .5em;
}

.btn {
  background-color: rgb(97, 187, 231);
  border: .1em solid rgb(184, 136, 144);
  border-radius: 1em;
  color: #fff;
  width: 1.7em;
  height: 1.7em;
  cursor: pointer;
}

p {
  margin: 1em;
}

