.mainHeader {
  display: flex;
  background-color: #7df7de;
  height: 3.5em;
  margin-bottom: 1.5em;
  width: 100vw;
}

.menu {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 3em;
  margin-left: 1.5em;
}

.menu ul {
  margin-right: 1.5em;
  display: flex;
  align-items: center;
}

.menu ul>li {
  list-style: none;
  margin-left: 1em;
  text-decoration: none;
}

ul>li a{
  text-decoration: none;
  font-weight: 800;
}

.btnLogOut {
  background-color: #7df7de;
  border: none;
  color: #551a8B;
  cursor: pointer;
  font-weight: 800;
  font-size: 1em;
}

@media (min-width: 704px) {
  .mainHeader {
    margin-bottom: 3em;
  }

  .logo {
    width: 3.5em;
    margin-left: 4em;
  }

  .menu ul {
    margin-right: 6em;
  }
}

@media (min-width: 1728px) {
  .logo {
    width: 4em;
    margin-left: 6em;
  }
  
  .menu ul {
    margin-right: 10em;
  }
}